name: Frontend Build

on:
  push:
    branches: [ "main" ]
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Node installieren
        uses: actions/setup-node@v4
        with:
          node-version: 22

      - name: Dependencies installieren
        run: npm ci

      - name: Frontend builden
        run: npm run build

      - name: Build-Artefakt speichern
        uses: actions/upload-artifact@v4
        with:
          name: dist
          path: dist
